<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/c91808f2e8.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <footer class="footer padding">
      <div class="container flex item-center">
        <div class="flex-full">
          <span>&copy; Altcampus 2021</span>
        </div>
        <nav class="flex-full">
          <ul class="flex1">
            <div>
              <a href="https://facebook.com" target="_blank">
                <i class="fab fa-facebook-square"></i>
              </a>
            </div>

            <div>
              <a href="https://twitter.com" target="_blank">
                <i class="fab fa-twitter-square"></i>
              </a>
            </div>
          </ul>
        </nav>
      </div>
    </footer>
  </body>
</html>
